*{
	box-sizing: border-box;
}

html, body, .ember-view{
	height: 100%;
}
.sidebar, .content{
	float: left;
	overflow: auto;
	height: 100%;
}
.sidebar{
	position: relative;
	z-index: 2;
	background-color: silver;
	width: 300px;
}
.sidebar nav.pages ul{
	overflow: hidden;
	padding-left: 30px;
}
.sidebar nav.pages li{
	position: relative;
}
.sidebar nav.pages .toggle{
	position: absolute;
	left: 0;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-indent: 0;
	margin-left: -20px;
	padding: 0;
}

.sidebar nav.pages li[data-closed='true']>ul{
	height: 0;
}
.sidebar nav.pages li>.toggle{

}
.sidebar nav.pages li[data-closed='user']>.toggle{
	font-size: 10px;
}
.sidebar nav.pages li[data-closed='user']>.toggle:before{
	content: '⌘';
}
.sidebar nav.pages li[data-closed='true']>.toggle:before{
	content: '+'
}
.sidebar nav.pages li[data-closed='false']>.toggle:before{
	content: '−'
}


.sidebar nav.pages a{
	color: blue;
}
.sidebar nav.pages a.active{
	font-weight: bold;
	color: black;
}
.sidebar nav.pages li[data-status='disabled'],
.sidebar nav.pages li[data-status='disabled'] a{
	color: gray;
}

.sidebar nav.pagination{
	position: absolute;
	bottom: 0px;
	height: 100px;
	width: 100%;
}
.sidebar nav.pagination .breadcrumb{
	height: 33px;
	line-height: 33px;
	font-family: monospace;
	font-size: 12px;
	text-indent: 10px;
	white-space: nowrap;
	width: 100%;
	float: left;
	clear: both;
	background: gray;
	color: black;
}
.sidebar nav.pagination button{
	width: 50%;
	height: 66px;
	margin: 0;
	float: left;
	display: block;
}


.content{
	width: 100%;
	margin-left: -300px;
	padding-left: 300px;
}

.page_error h1{
	color: red;
}